{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>pagina aesthetic</title>
</head>
<body>
    <div>
    <h1> Pagina Web Para Sergio Web</h1>
    </div>
    <div class="row">
    <table border=1>
        <tr><th scope="col">patente</th><th scope="col">marca</th>
            <th scope="col">modelo</th><th scope="col">opciones</th> 
        {%for ve in vehiculos %}
        <tr><td>{{ve.patente}}</td><td>{{ve.marca}}</td>
            <td>{{ve.modelo}}</td></tr>
            <td><a href="{% url 'form_mod_vehiculo' ve.patente %}">modificar</a></td>
            <td><a href="{% url 'form_mod_vehiculo' ve.patente %}">eliminar</a></td>
        </tr>
        {% endfor  %}



    </table>
    </div>
    <a href="{% url 'form_vehiculo'%}">nuevo vehiculos</a>
    <br><br>

    <div>
        <img src="{% static 'core/img/xd.png'%}" >
    </div>
    <div>
        <img src="{% static 'core/img/sergioweb.png'%}" >
    </div>
</body>
</html>